<!DOCTYPE html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js" type="text/javascript"></script>
    <script src="../model/employee.js" type="text/javascript"></script>
    <script src="../viewModel/employeeVM.js" type="text/javascript"></script>
    <script>
         ko.applyBindings(new EmployeeVM());
    </script>
</head>
<html>
<body>
    <form id="employeeForm" name="employeeForm">

        <div id="form-root">
            <div>
                <label class="form-label">First Name:</label>
                <input type="text" id="txtFirstName"
                       name="txtFirstName" data-bind="value:Employee.FirstName" />
            </div>
            <div>
                <label class="form-label">Last Name:</label>
                <input type="text" id="txtLastName"
                       name="txtLastName" data-bind="value:Employee.LastName" />
            </div>
            <div>
                <label>Gender:</label>
                <input type="radio" id="rdoMale" name="gender"
                       value="0" data-bind="checked:Employee.Gender" />Male
                <input type="radio" id="rdoFeMale" name="gender"
                       value="1" data-bind="checked:Employee.Gender" />FeMale
            </div>
            <div>
                <label class="form-label">Salary:</label>
                <input type="Number" id="numberSalary"
                       name="numberSalary" data-bind="value:Employee.Salary" />
            </div>
            <div>
                <input type="button" id="btnSubmit"
                       value="Submit" data-bind="click: submit" />
                <input type="button" id="btnReset"
                       value="Reset" data-bind="click: reset" />
            </div>
        </div>
    </form>
</body>
</html>